<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myBatis.dao.MenuDetailMapper" >
  <resultMap id="BaseResultMap" type="com.myBatis.model.MenuDetail" >
    <id column="MENU_DETAIL_INDEX" property="menuDetailIndex" jdbcType="DECIMAL" />
    <result column="MENU_INDEX" property="menuIndex" jdbcType="DECIMAL" />
    <result column="MENU_DETAIL_NAME" property="menuDetailName" jdbcType="VARCHAR" />
    <result column="MENU_DETAIL_ORDER" property="menuDetailOrder" jdbcType="INTEGER" />
    <result column="MENU_DETAIL_DESC" property="menuDetailDesc" jdbcType="VARCHAR" />
    <result column="MENU_FUNCTIONG_PAGE" property="menuFunctiongPage" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from MENU_DETAIL
    where MENU_DETAIL_INDEX = #{menuDetailIndex,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.myBatis.model.MenuDetail" >
  	<selectKey resultType="java.math.BigDecimal" keyProperty="menuDetailIndex" order="BEFORE" >
      SELECT MENU_DETAIL_SEQ.NEXTVAL FROM DUAL
    </selectKey>
    insert into MENU_DETAIL (MENU_DETAIL_INDEX, MENU_INDEX, MENU_DETAIL_NAME, 
      MENU_DETAIL_ORDER, MENU_DETAIL_DESC, MENU_FUNCTIONG_PAGE
      )
    values (#{menuDetailIndex,jdbcType=DECIMAL}, #{menuIndex,jdbcType=DECIMAL}, #{menuDetailName,jdbcType=VARCHAR}, 
      #{menuDetailOrder,jdbcType=INTEGER}, #{menuDetailDesc,jdbcType=VARCHAR}, #{menuFunctiongPage,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.myBatis.model.MenuDetail" >
    update MENU_DETAIL
    set MENU_INDEX = #{menuIndex,jdbcType=DECIMAL},
      MENU_DETAIL_NAME = #{menuDetailName,jdbcType=VARCHAR},
      MENU_DETAIL_ORDER = #{menuDetailOrder,jdbcType=INTEGER},
      MENU_DETAIL_DESC = #{menuDetailDesc,jdbcType=VARCHAR},
      MENU_FUNCTIONG_PAGE = #{menuFunctiongPage,jdbcType=VARCHAR}
    where MENU_DETAIL_INDEX = #{menuDetailIndex,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select MENU_DETAIL_INDEX, MENU_INDEX, MENU_DETAIL_NAME, MENU_DETAIL_ORDER, MENU_DETAIL_DESC, 
    MENU_FUNCTIONG_PAGE
    from MENU_DETAIL
    where MENU_DETAIL_INDEX = #{menuDetailIndex,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select MENU_DETAIL_INDEX, MENU_INDEX, MENU_DETAIL_NAME, MENU_DETAIL_ORDER, MENU_DETAIL_DESC, 
    MENU_FUNCTIONG_PAGE
    from MENU_DETAIL
  </select>
  <select id="selectByMenuIndex" resultMap="BaseResultMap" parameterType="map">
  	select MENU_DETAIL_INDEX, MENU_INDEX, MENU_DETAIL_NAME, MENU_DETAIL_ORDER, MENU_DETAIL_DESC, 
    MENU_FUNCTIONG_PAGE
    from MENU_DETAIL
    where MENU_INDEX = #{menuIndex}
    order by MENU_DETAIL_ORDER asc
  </select>
</mapper>