<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	
	<!-- 掃描 com.ctrl 套件下，有被相關標註（Annotation）設定為元件的類別 -->
	<context:component-scan base-package="com.ctrl">
		<!-- 允許指定型態還有類別的掃描方式 -->
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	
	<!-- 有關於接受、處理請求的元件，也會使用標註來設定相關訊息。 -->
	<mvc:annotation-driven>
		<!-- 理論上應設置，但實際回傳結果是 application/json;charset=UTF-8
		<mvc:message-converters>
	        <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
	        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
	    </mvc:message-converters>
	    -->
	</mvc:annotation-driven>
	
	
	<!-- 靜態資源處理 -->
	<!-- 如果是mapping打頭的所有請求，統一去location設置的目錄查找 (參考index.jsp之寫法) -->
	<mvc:resources mapping="/resources/**" location="/resources/"/>


	<!-- 
		常態性的java web (war)，view的解析配置 
		p:prefix 前綴
		p:suffix 後綴
		只需要回傳指定邏輯名，DispatcherServlet 將會透過解析配置查找正確的view
		Why use JstlView? see >>> http://docs.spring.io/spring-framework/docs/2.5.6/api/org/springframework/web/servlet/view/JstlView.html
	-->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		  p:viewClass="org.springframework.web.servlet.view.JstlView"
          p:prefix="/WEB-INF/views/"
          p:suffix=".jsp"
    />

</beans>
